@import "tailwindcss";

/* 1. Définir les Keyframes : C'est ce qui manquait !*/
@keyframes slideDown {
  from {
    /* Cache le texte en haut et le rend invisible */
    opacity: 0;
    transform: translateY(-100px); 
  }
  to {
    /* Ramène le texte à sa position normale et le rend visible */
    opacity: 1;
    transform: translateY(0);
  }
}

.landingPage {
    background: url('./assets/image/imageAccueil1.png') no-repeat center center / cover;
    /* 2. Ajout pour le Centrage : Permet de centrer les éléments enfants (le texte) */
    /* display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;  */
}

.animatedText {
    animation: slideDown 1s ease-out forwards;
}
